@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section {
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
	
}

section div{
	display: flex;
	justify-content: center;
	align-items: center;
	

}

h2{
	font-size: 60px;
	color: #333333;
	display: inline;
	margin-bottom: 0px;
     font-family: 'Poppins', sans-serif;

	}

h2:hover{
	color: #191919;
	display: inline;
	cursor: default;
	}
a {
	width: 80px;
	height: 80px;
	margin: 5px;


}
article {
	cursor: pointer;
	width: 80px;
	height: 80px;
	background-color: #333;
	box-shadow: 0 0 2px -2px rgb(8, 8, 8), 0 0 45px -30px rgb(3, 3, 3);
	color: #fff;
	transform: perspective(300px) rotateY(0deg);
	transition: transform 0.4s linear, background-color 0s linear 0.2s, color 0s linear 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
}

a article i{
	font-size: 50px;

}
a:hover article {
	transform: perspective(300px) rotateY(180deg);
	color: #eee;
	transition: transform 0.2s linear, background-color 0s linear 0.1s, color 0s linear 0.1s;
}
#fb:hover article {
	background-color: #3b5998;
}
#twi:hover article {
	background-color: #00aced;

}
#ins:hover article {
	background-color: #3f729b;
}
#link:hover article {
	background-color: #39c;
}
#fbm:hover article {
	background-color: #1769ff;
}
#wp:hover article {
	background-color: #00E676;
}
#tlg:hover article {
	background-color: #25A3E1;
}
#email:hover article {
	background-color: #08023a;
}

#gtb:hover article {
	background-color: #0f0f0f;
}
#cdpn:hover article {
	background-color: #ff0084;
}

span {
	transition: transform 0s linear 0.2s, text-shadow 0s linear 0.2s;
	display: block;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smooth: antialiased;
}
a:hover span {
	transition: transform 0s linear 0.1s, text-shadow 0s linear 0.1s;
	transform: scale(-1, 1);
	text-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}



